@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import "tailwindcss";

/* Bakelogy theme */
@theme {
  --color-light-gray: #EEE8DF;
  --color-gold: #F8C42E;
  --color-dark-blue: #001D51;
  --color-dark-gray: #C4BCB9;
  --color-peach: #FFC3B0;
  --color-beige: #FFF7E6;
}

.font-heading {
  font-family: var(--font-playfair);
}

.font-body {
  font-family: var(--font-inter);
}


.dancing-script {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}